{% extends "base.html" %}
{% block content %}
	<div class="section">
		<div class="container" ng-controller="PromocoesController as promocoes">

				<div class="list-group-item" ng-repeat="promos in promos.promos">
				<!--<div class="alert alert-dismissible alert-warning">-->
					<div class="row">
						<div class="col-md-3">
							<img ng-if="promos.url_img != null" src="{{'{{ promos.url_img }}'}}" class="img-responsive img-thumbnail" style="width: 200px; height: 200px">
							<img ng-if="promos.url_img == null" src="static/images/imagenotfound.png" class="img-responsive img-thumbnail" style="width: 200px; height: 200px">

						  	<p>
						    	<p>Data Promoção: {{ '{{ promos.data_prom }}' }}</p>
						    	<p>Data Criação: {{ '{{ promos.dt_criacao }}' }}</p>
						  	</p>
						</div>
						<div class="col-md-8">
							<!--<div class="alert alert-dismissible alert-danger">-->
							  	<h2 ng-if="promos.name == 'gatry'">{{ '{{ promos.nm_prom }}' }} - R$ {{ '{{ promos.valor }}' }}</h2>
							  	<h2 ng-if="promos.name != 'gatry'">{{ '{{ promos.nm_prom }}' }}</h2>
							  	<p><pre><small>{{ '{{ promos.nm_obs }}' }}.</small></pre></p>
							  	<div class="btn-group-vertical">
								  	<a ng-repeat="link in promos.url_prom" href="{{'{{ link }}'}}" class="btn btn-default" target="_blank">Link</a>

								</div>
								<p>
									<br>
									<a href="{{'{{ promos.url_origem }}'}}" target="_blank" class="btn btn-info">Origem</a>
								</p>
							<!--</div>-->
						</div>
					</div>
				</div>

		</div>
	</div>

{% endblock %}